@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Department management demo</h1>
    <p class="lead">This project represents a demo workflow to prepare information about employees and departments due to the role a login user has, please select an option from menu.</p>
</div>

